.path-mod-scheduler .formerror{
   border : red 1px solid;
   background-color : #FDD9D9;
}

.path-mod-scheduler .timelabel{
   color : #808080;
}

.path-mod-scheduler .attended{
   color : green;
}

.path-mod-scheduler div.slotnotes{
   background-color : #E8E9EE;
   border : solid 1px #A7ABBE;
   font-size : 0.9em;
   padding : 2px;
   margin : 1px;
}

div .path-mod-scheduler .appointmentnote{
   background-color : #E7EFE7;
   border : solid 1px #A0C5A4;
   font-size : 0.9em;
   padding : 2px;
   margin : 1px;
}

.path-mod-scheduler table.schedulercommands th {
   background-color : #E7EFE7;
   border-style: solid;
   border-color: white;
   border-width: 2px 10px;
}
.fitem_id_schedulermode,.fitem_id_reuseguardtime,.fitem_id_groupmode,.fitem_id_groupingid{display:none;}