/* calendar.less */
.calendartable {
    width: 100%;
}
.calendartable th,
.calendartable td {
    width: 14%;
    vertical-align: top;
    text-align: center;
    border: 0;
}
.calendar_event_course {
    background-color: #D6F8CD;
}
.calendar_event_global {
    background-color: #FFD3BD;
}
.calendar_event_group {
    background-color: #FEE7AE;
}
.calendar_event_user {
    background-color: #DCE7EC;
}
.path-calendar .calendar-controls .previous,
.path-calendar .calendar-controls .next,
.path-calendar .calendar-controls .current {
    display: block;
    float: left;
    width: 12%;
}
.path-calendar .calendar-controls .previous {
    text-align: left;
}
.path-calendar .calendar-controls .current {
    text-align: center;
    width: 76%;
}
.path-calendar .calendar-controls .next {
    text-align: right;
}
.path-calendar .maincalendar {
    vertical-align: top;
    padding: 0;
}
.path-calendar .maincalendar .bottom {
    text-align: center;
    padding: 5px 0 0 0;
}
.path-calendar .maincalendar .heightcontainer {
    height: 100%;
    position: relative;
}
.path-calendar .maincalendar .calendarmonth {
    width: 98%;
    margin: 10px auto;
}
.path-calendar .maincalendar .calendarmonth ul {
    margin: 0;
}
.path-calendar .maincalendar .calendarmonth ul li {
    list-style-type: none;
    margin-top: 4px;
}
.path-calendar .maincalendar .calendarmonth td {
    height: 5em;
}
.path-calendar .maincalendar .calendar-controls .previous,
.path-calendar .maincalendar .calendar-controls .next{
    width: 30%;
}
.path-calendar .maincalendar .calendar-controls .current {
    width: 39.95%;
}
.path-calendar .maincalendar .controls {
    width: 98%;
    margin: 10px auto;
}
.path-calendar .maincalendar .eventlist .event {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
    border-collapse: separate;
    border-width: 1px;
    border-style: solid;
}
.path-calendar .maincalendar .eventlist .event .topic .name {
    float: left;
}
.dir-rtl.path-calendar .maincalendar .eventlist .event .topic .name,
.path-calendar .maincalendar .eventlist .event .topic .date {
    float: right;
}
.dir-rtl.path-calendar .maincalendar .eventlist .event .topic .date {
    float: left;
}
.path-calendar .maincalendar .eventlist .event .subscription,
.path-calendar .maincalendar .eventlist .event .course {
    float: left;
    clear: left;
}
.dir-rtl.path-calendar .maincalendar .eventlist .event .subscription,
.dir-rtl.path-calendar .maincalendar .eventlist .event .course {
    float: right;
    clear: right;
}
.path-calendar .maincalendar .eventlist .event .side {
    width: 32px;
}
.path-calendar .maincalendar .eventlist .event .commands a {
    margin: 0 3px;
}
.path-calendar .maincalendar .header {
    overflow: hidden;
}
.path-calendar .maincalendar .header .buttons {
    float: right;
}
.dir-rtl.path-calendar .maincalendar .header .buttons {
    float: left;
}
.path-calendar .filters table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}
#page-calendar-export .indent {
    padding-left: 20px;
}
.path-calendar .cal_courses_flt label {
    margin-right: .45em;
}
.dir-rtl.path-calendar .cal_courses_flt label {
    margin-left: .45em;
    margin-right: 0;
}
.block .minicalendar th,
.block .minicalendar td {
    padding: 2px;
    font-size: 0.8em;
}
.block .minicalendar {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.block .minicalendar td.weekend {
    color: #A00;
}
.block .calendar-controls .previous {
    text-align: left;
    display: block;
    float: left;
    width: 12%;
}
.block .calendar-controls .current {
    float: left;
    text-align: center;
    display: block;
    width: 76%;
}
.block .calendar-controls .next {
    text-align: right;
    display: block;
    float: left;
    width: 12%;
}
.block .calendar_filters ul {
    list-style: none;
    margin: 0;
}
.block .calendar_filters li {
    margin-bottom: .2em;
}
.block .calendar_filters li span img {
    padding: 0 .2em;
}
.block .calendar_filters .eventname {
    padding-left: .2em;
}
.dir-rtl .block .calendar_filters .eventname {
    padding-right: .2em;
    padding-left: 0;
}
.block .content h3.eventskey {
    margin-top: 0.5em;
}
@media (min-width: 768px) {
    #page-calender-view .container fluid {
        min-width: 1024px;
    }
}
