@charset "UTF-8";@font-face{font-family:"Lato";src:url('fonts/879119874-Lato-Regular.eot');src:url('fonts/879119874-Lato-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/879119874-Lato-Regular.svg#Lato') format('svg'),
url('fonts/879119874-Lato-Regular.woff') format('woff'),
url('fonts/879119874-Lato-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"LatoBold";src:url('fonts/766143799-Lato-Bold.eot');src:url('fonts/766143799-Lato-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/766143799-Lato-Bold.svg#Lato') format('svg'),
url('fonts/766143799-Lato-Bold.woff') format('woff'),
url('fonts/766143799-Lato-Bold.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"LatoLight";src:url('fonts/707946778-Lato-Light.eot');src:url('fonts/707946778-Lato-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/707946778-Lato-Light.svg#Lato') format('svg'),
url('fonts/707946778-Lato-Light.woff') format('woff'),
url('fonts/707946778-Lato-Light.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"FrankGothic";src:url('120849610-frkgoth.eot');src:url('120849610-frkgoth.eot?#iefix') format('embedded-opentype'),
url('120849610-frkgoth.ttf') format('truetype');font-weight:normal;font-style:normal;}
body{padding:0;margin:0;font:normal 13px "Lato", Arial, Helvetica, sans-serif;background-size:100%}
h1,h2,h3,h4,h5,h6,ul,li, p{padding:0;margin:0;list-style-type:none}
.f-left{float:left}
.f-right{float:right}
.clear{clear:both}
a{text-decoration:none;color:#ff7629;font-family:"Lato";}
a:hover{text-decoration:underline}
.wrapper{width:100%;margin:0 auto}
.pos-rel{position:relative}
.pos-fix{width:100%;z-index:9;}
#page{max-width:1419px;min-width:1002px;width:100%;margin:0 auto}
.header{background:url(images/header_wb.png) no-repeat center 0;height:237px;max-width:100%;}
.page_bg{background:url(images/banner_bg.png) no-repeat center 0;height:500px;}
.header h1{margin:2px 0 0 29px}
.header h1 a{float:left;}
ul.banner_img li img{max-width:100%;}
.collapse-navbar li{float:left}
.collapse-navbar li a{text-transform:uppercase;float:left;color:#fff}
.collapse-navbar > li{padding:7px;}
.login-link span.lock_icon{background:url(images/login_lock.png) 0 6px no-repeat;width:23px;height:23px;display:inline-block;float:left;}
.callus-now{position:relative}
.callus-now-bx{background:none;color:#a5a5a4;display:none;font-family:"LatoLight";left:34px;padding:10px;position:absolute;text-transform:uppercase;top:24px;width:200px;z-index:1040;font-size:11px}
.nav{float:right;margin:5px 10px}
.nav li{float:left;font-size:14px;color:#c4c4c4;margin:0 10px;text-transform:uppercase}
.nav li a{float:left;color:#c4c4c4}
.search a{background:url(images/search-icon.png) no-repeat;float:left;width:19px;height:19px;margin:5px 20px 0 10px}
.bgt{padding:15px;}
.bgt h2{color:#FFFFFF;font-size:30px;margin-bottom:15px;text-align:center;}
.bgt p{color:#fff;font-size:17px;margin:1% 25%;text-align:center;}
.bgt a{color:#fff;float:left;font-size:15px;margin-right:10px}
.slide-container{float:left;padding:180px 0 10px 40px}
.slides-pagination a{width:25px;height:6px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;margin:0px 1px;overflow:hidden;text-indent:-100%;transition:all .5s linear;-webkit-transition:all .5s linear;background:rgba(255, 255, 255, 0.6)}
.slides-pagination a:hover{background:rgba(255, 255, 255, 1.0)}
.slider-five-bts-bx{float:right;padding:0;margin-right:3%;position:absolute;right:0;bottom:10px}
.slider-five-btns ul{display:table-row}
.slider-five-btns{margin:0 auto;display:table;display:table-row;list-style:none}
.slider-five-btns ul li{float:left;text-align:center;vertical-align:top;font-size:10px;text-transform:uppercase;line-height:12px;color:#000000;margin-right:1px;background:rgba(255, 255, 255, 0.33);height:110px;width:100px;}
.icon-30k-hours{background:url(images/sprite-image.png)2px -71px no-repeat}
.icon-30k-hours1{background:url(images/sprite-image.png)-87px -71px no-repeat}
.icon-30k-hours2{background:url(images/sprite-image.png)-187px -71px no-repeat}
.icon-30k-hours3{background:url(images/sprite-image.png)-282px -71px no-repeat}
.icon-30k-hours4{background:url(images/sprite-image.png)-385px -71px no-repeat}
.slider-five-btns ul li > div p{padding-top:60px;font-weight:bold}
.about{width:94%;float:left;padding:3%;font-family:"LatoLight";background:#fff}
.about h3{font-size:35px;color:#ff7629;text-align:center;font-family:"LatoBold";}
.about .content{width:90%;margin:3% 0 0 4%;font-size:20px;color:#797979;text-align:center;float:left}
.about .content a{color:#fc902e;font-size:15px;margin:3% 15px 0 0;float:left}
.about .img-right{background:url(images/brandon.png) no-repeat;width:263px;height:130px;float:left;margin:3%}
.solutions{background:url(images/gray_bg.jpg) center 0 no-repeat;padding:1%;font-family:"LatoLight";}
.solutions h3{text-align:center;font-size:35px;padding-bottom:1%;color:#0b3b46;font-family:"LatoBold";margin-top:1%;position:relative;}
.solutions h3 > i{position:absolute;left:0;height:3px;background:#eca81f;width:80px;margin:0 auto;right:0;top:50px;}
.solutions ul{overflow:hidden;}
.solutions li{float:left;font-size:17px;color:#222222;height:262px;margin-top:-15px;}
.solutions li > div{height:200px;background:#eca81f;}
.solutions li h3{color:#222222;font-size:18px;font-weight:normal;text-align:center;padding:8px;}
.solutions li.gap{margin:0 7%}
.solutions li p{margin:10px 5px;}
ul.mission_slider{float:left;width:100%;}
.mission_slider > li{float:left !important;margin:0 15px;}
.mission_slider li img{max-width:100%; width:335px; height:198px;}
ul.slider_training li div.hover_slider_img span{margin-top:0 !important;margin-bottom:5px !important;}
ul.slider_training li div span.slider_training_img1{background:url(images/training_icons.png) 0 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:57px;}
ul.slider_training li div span.slider_training_img2{background:url(images/training_icons.png) -56px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:52px;}
ul.slider_training li div span.slider_training_img3{background:url(images/training_icons.png) -108px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:42px;}
ul.slider_training li div span.slider_training_img4{background:url(images/training_icons.png) -148px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:62px;}
ul.slider_training li div span.slider_training_img5{background:url(images/training_icons.png) -211px 0 no-repeat;display:block;float:left;height:60px;margin:11% 37%;width:65px;}
ul.slider_training li div span.slider_training_img6{background:url(images/training_icons.png) -275px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:55px;}
ul.slider_training li div span.slider_training_img7{background:url(images/training_icons.png) -328px 0 no-repeat;display:block;float:left;height:60px;margin:11% 37%;width:64px;}
ul.slider_training li div span.slider_training_img8{background:url(images/training_icons.png) -390px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:48px;}
ul.slider_training li div span.slider_training_img9{background:url(images/training_icons.png) -436px 0 no-repeat;display:block;float:left;height:60px;margin:11% 37%;width:60px;}
ul.slider_training li div span.slider_training_img10{background:url(images/training_icons.png) -498px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:48px;}
ul.slider_training li div span.slider_training_img11{background:url(images/training_icons.png) -547px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:55px;}
ul.slider_training li div span.slider_training_img12{background:url(images/training_icons.png) -607px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:50px;}
ul.slider_training li div span.slider_training_img13{background:url(images/training_icons.png) -658px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:42px;}
ul.slider_training li div span.slider_training_img14{background:url(images/training_icons.png) -707px 0 no-repeat;display:block;float:left;height:60px;margin:11% 40%;width:52px;}
.login-box{width:340px;position:absolute;right:0;top:36px;display:none;z-index:999999}
.login{background:#eca81f;float:right;position:relative}
.login-link.login{background:#eca81f;}
i.right-close-arrow{background:url(images/sprite-image.png)-235px -18px no-repeat!important}
.login-box .logo-left{width:270px;height:200px;background:#020728 url(images/login-logo.png) no-repeat center 70px;float:left}
.login-box .logo-right{width:310px;padding:15px;float:left;font-family:"Lato";font-size:16px;color:#fff;background:#eca81f}
.login-box .logo-right input[type="text"], .login-box .logo-right input[type="password"]{background:#fff;border:0;padding:10px;margin:5px;width:280px;font-family:"Lato";font-size:16px;color:#929292}
.login-box .logo-right input[type="submit"]{background:#fff;border:0;float:right;color:#de980c;font-size:16px;font-family:"Lato";padding:10px;margin-top:10px;cursor:pointer}
.login-box .logo-right a{color:#fff;text-transform:capitalize}
.login-box .logo-right span{margin:20px 0 0 10px}
.login-box .logo-right span.forgot-password{margin:0 0 0 10px;}
.login-link{position:relative;background:#0a4251;}
.login-link a.login-open{padding-right:30px!important;background:url(images/login-arrow.png) 45px 10px no-repeat;padding-top:5px;}
.login-link a.login-open.show{background-position:45px -10px}
i.right-down-arrow{background:url(images/sprite-image.png)-235px 0 no-repeat;width:12px;height:12px;float:right;cursor:pointer;margin:14px 10px 0 0;position:absolute;right:0;top:0}
footer{background:#09262e;width:98%;float:left;padding:0 1%;color:#84878e;font-size:12px;line-height:53px}
footer .arrow{float:right;background:url(images/arrow.png) no-repeat;width:9px;height:53px;padding-right:58px;display:none}
footer a{margin:0 10px}
.botm_foot span{background:url(images/footer_logo.png) 5px 12px no-repeat;display:inline-block;float:right;height:38px;width:25px;}
.botm_foot{margin-right:4%;}
.login-box .logo-right input[type="button"]{background:none repeat scroll 0 0 #fff;border:0 none;color:#ff6814;float:right;font-family:"Lato";font-size:16px;margin-top:10px;padding:10px;}
.drop{position:fixed;right:5px;bottom:9px;display:none;background:url(images/drop-arrow.png) no-repeat;border:none;border-radius:2px;height:35px;text-align:center;width:35px;z-index:9;cursor:pointer}
.drop:hover{background-position:0 bottom}
.bxSliderTop{margin:0 auto;width:77%;}
.bxSliderTop li:first-child{margin-left:0px;}
.bxSliderTop .bx-wrapper .bx-pager{display:block}
.bgt h2>i{position:absolute;left:47%;height:3px;background:#eca81f;width:80px;margin-top:45px}
.solutions li > div.hover_slider_img{background:none repeat scroll 0 0 #ffffff;display:block;height:100%;position:absolute;top:0px;padding:10px;z-index:9999;display:none;margin-top:15px;}
ul.slider_training li{padding:80px 0 30px 0;}
.hover_slider_img p{margin:0 !important;font-size:14px;text-align:justify;}
#page.training_programs{width:90% !important}