@font-face{font-family:"Lato";src:url('fonts/879119874-Lato-Regular.eot');src:url('fonts/879119874-Lato-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/879119874-Lato-Regular.svg#Lato') format('svg'),
url('fonts/879119874-Lato-Regular.woff') format('woff'),
url('fonts/879119874-Lato-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"LatoBold";src:url('fonts/766143799-Lato-Bold.eot');src:url('fonts/766143799-Lato-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/766143799-Lato-Bold.svg#Lato') format('svg'),
url('fonts/766143799-Lato-Bold.woff') format('woff'),
url('fonts/766143799-Lato-Bold.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"LatoLight";src:url('fonts/707946778-Lato-Light.eot');src:url('fonts/707946778-Lato-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/707946778-Lato-Light.svg#Lato') format('svg'),
url('fonts/707946778-Lato-Light.woff') format('woff'),
url('fonts/707946778-Lato-Light.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:"FrankGothic";src:url('120849610-frkgoth.eot');src:url('120849610-frkgoth.eot?#iefix') format('embedded-opentype'),
url('120849610-frkgoth.ttf') format('truetype');font-weight:normal;font-style:normal;}
body{padding:0;margin:0;font:normal 13px "Lato", Arial, Helvetica, sans-serif;background-size:100%}
h1,h2,h3,h4,h5,h6,ul,li, p{padding:0;margin:0;list-style-type:none}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.f-left{float:left}
.f-right{float:right}
.clear{clear:both}
a{text-decoration:none;color:#ff7629;font-family:"Lato";}
a:hover{text-decoration:underline}
.wrapper{width:100%;margin:0 auto}
.pos-rel{position:relative}
.pos-fix{position:absolute;top:0;width:100%;z-index:9;left:0}
#page{max-width:1440px;/*min-width:1002px;*/width:100%;margin:0 auto}
.header{min-height:103px;background:#fc8428}
.header h1{margin:1px 0 0 1px}
.header h1 a{float:left;width:101px;height:101px;background:url(images/logo.jpg) 0 0 no-repeat; text-indent:-9999px;}
.collapse-navbar li{float:left}
.collapse-navbar li a{text-transform:uppercase;float:left;color:#fff}
/*.collapse-navbar > li:first-child > a{background:#3c3f40;text-decoration:none;padding:10px 20px;float:left}
.collapse-navbar > li:first-child > a > i{width:17px;height:11px;background:url(images/sprite-image.png)0 0 no-repeat;margin:2px 12px 0 0;float:left}
.collapse-navbar > li:nth-child(2) > a{color:#fff;margin:10px 40px}
.collapse-navbar > li:nth-child(2) > a > i{width:16px;height:12px;background:url(images/sprite-image.png)-27px 0 no-repeat;margin:2px 6px 0 0;float:left}
.collapse-navbar > li:nth-child(3) > a{margin:10px 15px 0 0}
.collapse-navbar > li:nth-child(3) > a > i{width:16px;height:16px;margin-right:6px;background:url(images/sprite-image.png)-345px -1px no-repeat;float:left}
.collapse-navbar > li:nth-child(3) > a span img{float:left;display:none}
.collapse-navbar > li:nth-child(4) > a{margin:10px 15px}
.collapse-navbar > li:nth-child(4) > a > i{height:8px;width:12px;background:url(images/sprite-image.png)-235px 0 no-repeat;float:right;margin:4px 0 0 6px}*/
.collapse-navbar > li{ padding:18px; height:24px}
.login-link span.lock_icon{background:url(images/login_lock.png) 0 1px no-repeat; width:23px; height:23px; display:inline-block; float:left;}
.callus-now{position:relative}
.callus-now-bx{background:none;color:#a5a5a4;display:none;font-family:"LatoLight";left:34px;padding:10px;position:absolute;text-transform:uppercase;top:24px;width:200px;z-index:1040;font-size:11px}
.nav{float:right;margin:5px 10px}
.nav li{float:left;font-size:14px;color:#c4c4c4;margin:0 10px;text-transform:uppercase}
.nav li a{float:left;color:#c4c4c4}
.search a{background:url(images/search-icon.png) no-repeat;float:left;width:19px;height:19px;margin:5px 20px 0 10px}
.bgt{background:#3c3f40;margin:2% 0 0 2%;padding:15px;float:left}
.bgt h2{color:#FFFFFF;font-size:30px;margin-bottom:15px;}
.bgt p{color:#fff;font-size:17px;margin-bottom:15px}
.bgt a{color:#fff;float:left;font-size:15px;margin-right:10px}
.slide-container{float:left;padding:180px 0 10px 40px}
.slides-pagination a{width:25px;height:6px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;margin:0px 1px;overflow:hidden;text-indent:-100%;transition:all .5s linear;-webkit-transition:all .5s linear;background:rgba(255, 255, 255, 0.6)}
.slides-pagination a:hover{background:rgba(255, 255, 255, 1.0)}
.slider-five-bts-bx{float:right;padding:0;margin-right:3%;position:absolute;right:0;bottom:10px}
.slider-five-btns ul{display:table-row}
.slider-five-btns{margin:0 auto;display:table;display:table-row;list-style:none}
.slider-five-btns ul li{float:left;text-align:center;vertical-align:top;font-size:10px;text-transform:uppercase;line-height:12px;color:#000000;margin-right:1px;background:rgba(255, 255, 255, 0.33);height:110px;width:100px;}
.icon-30k-hours{background:url(images/sprite-image.png)2px -71px no-repeat}
.icon-30k-hours1{background:url(images/sprite-image.png)-87px -71px no-repeat}
.icon-30k-hours2{background:url(images/sprite-image.png)-187px -71px no-repeat}
.icon-30k-hours3{background:url(images/sprite-image.png)-282px -71px no-repeat}
.icon-30k-hours4{background:url(images/sprite-image.png)-385px -71px no-repeat}
.slider-five-btns ul li > div p{padding-top:60px;font-weight:bold}
.about{width:94%;float:left;padding:3%;font-family:"LatoLight";background:#fff}
.about h3{font-size:23px;color:#3c3f40;text-align:center;font-family:"LatoBold";}
.about .content{width:90%;margin:2% 0 0 3%;font-size:20px;color:#2d2a25;text-align:center;float:left}
.about .content a{color:#fc902e;font-size:15px;margin:3% 15px 0 0;float:left}
.about .img-right{background:url(images/brandon.png) no-repeat;width:263px;height:130px;float:left;margin:3%}
.solutions{float:left;width:94%;background:#00a69c;padding:3%;font-family:"LatoLight";background-size:100%}
.solutions h3{text-align:center;font-size:35px;padding-bottom:4%;color:#ffffff;font-family:"LatoBold";}
.solutions h3 > i{position:absolute;left:47%;height:3px;background:#fc902e;width:80px;margin-top:45px}
.solutions ul{width:100%;float:left}
.solutions li{float:left;width:28%;font-size:17px;color:#fff;text-align:center}
.solutions li.gap{margin:0 7%}
.solutions li p{margin:10px 0}
.testimonials{float:left;background:url(images/orange.png) repeat;width:94%;padding:3%;text-align:center;font-family:"LatoLight";}
.testimonials h3{font-size:35px;padding-bottom:3%;color:#fff;font-family:"LatoBold";}
.testimonials h3 > i{position:absolute;left:47%;height:3px;background:#ffffff;width:80px;margin-top:45px}
.testimonials .testi{width:70%;text-align:center;margin:0 auto;font-size:23px;color:#FFFFFF;}
.testimonials .testi p.name{font-size:17px;margin:20px 0 0 0;font-family:"Lato";}
.awards{float:left;background:#00a69c;width:100%;padding:3% 0;text-align:center}
.awards h4{font-size:16px;color:#ffffff;padding-bottom:3%}
.login-box{width: 100%;position: relative;float: left;padding: 0px 75px;box-sizing: border-box;}
.login{background:#3c3f40;float:right;position:relative}
.logoform {margin: 30px 0px 50px;}
i.right-close-arrow{background:url(images/sprite-image.png)-235px -18px no-repeat!important}
.login-box .logo-left{width:270px;height:200px;background:#020728 url(images/login-logo.png) no-repeat center 70px;float:left}
.login-box .logo-right{float:left;font-family:"Lato";font-size:15px;color:#fff;width: 100%;}
.login-box .logo-right input[type="text"], .login-box .logo-right input[type="password"]{background: none;border-bottom:1px solid #fff !important;border-radius: 0px;padding: 2px 0px;    margin: 10px 0 0;width: 100%;font-family: "Lato";font-size: 22px;color: #fff;border: none;}
.login-box .logo-right input[type="text"]:focus, .login-box .logo-right input[type="password"]:focus{ outline: none}
.username-error{ display:block;/*min-height: 20px;*/}
.rememberpass{ display:none}
#login-email{ margin-bottom:20px;}
.login-box .logo-right #log-in{
    background: #fff url(images/loginbtn-arrow.png) no-repeat 95% center;
}
.login-box .logo-right #forgot-password-click{
    background: #fff url(images/loginbtn-arrow.png) no-repeat 95% center;

}.login-box .logo-right input[type="submit"]{border: none;float: left;color: #88a03c;font-size: 30px;font-family: "LatoBold";cursor: pointer;width: 100%;text-transform: uppercase;padding: 15px 0px;line-height: 25px;margin-top: 30px;}
.login-box .logo-right a {color: #fff;text-transform: capitalize;font-size: 14px;text-decoration:underline; /*border-bottom: 1px solid #fff !important;*/}
.login-box .forgot-login-password{ margin:30px 0 0 0px;}
.login-box .forgot-login-password a{ color:#fff}
.forgot-password{padding-right: 20px;position: relative;margin-right: 10px; display:block;}
.forgot-password.f-left{float:none;}
.forgot-password a{padding-bottom:15px;display:block;}
/* .forgot-password:before{position: absolute;left: 100%;top: 4px;height: 12px;width: 1px;content: '';background: #fff;} */
.forgetbox {position: relative;padding: 30px 5px 0px;float: left;width: 100%;box-sizing: border-box;}
.login-link{position:relative}
.login-link a.login-open{padding-right:20px!important;background:url(images/login-arrow.png) right 4px no-repeat;}
.login-link a.login-open.show{background-position:right -16px}
i.right-down-arrow{background:url(images/sprite-image.png)-235px 0 no-repeat;width:12px;height:12px;float:right;cursor:pointer;margin:14px 10px 0 0;position:absolute;right:0;top:0}
footer{background:#3d3e3d;width:100%;float:left;padding:0 1%;color:#fff;font-size:12px;line-height:53px}
footer .arrow{float:right;background:url(images/arrow.png) no-repeat;width:9px;height:53px;padding-right:58px;display:none}
footer a{margin:0 10px}
.login-box .logo-right input[type="button"]{background:none repeat scroll 0 0 #fff;border:0 none;color:#ff6814;float:right;font-family:"Lato";font-size:16px;margin-top:10px;padding:10px;}
.drop{position:fixed;right:5px;bottom:73px;display:none;background:url(images/drop-arrow.png) no-repeat;border:none;border-radius:2px;height:35px;text-align:center;width:35px;z-index:9;cursor:pointer}
.drop:hover{background-position:0 bottom}
.hide_text{ width:0px; height:0px; position:absolute; overflow:hidden;}
ul.banner_img li img {max-width: 100%;}
.botm_foot span {background: url("images/footer_logo.png") no-repeat scroll 5px 12px rgba(0, 0, 0, 0); display: inline-block; float: right; height: 38px; width: 25px;}
.bx-wrapper{ max-width:1440px !important;}
.header-text{color: #ffffff;float: left;font-size: 23px;padding-left: 5px;padding-top: 70px;}
.homePage{background:url(images/homebackBg.jpg) repeat-x 50% bottom #fff; overflow:hidden; clear:both; min-height: 720px;}
.homePage #page{ width: 100%; background:url(images/homeBgform.png) no-repeat 50% top;max-width: 530px;position: relative;border: 20px solid #fff;text-align: center;margin-top:2%;display: flex;display: -moz-flex;display: -ms-flex;display: -webkit-flex;display: -o-flex;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;-ms-justify-content: center;-webkit-align-items: center;align-items: center;flex-direction: column;-moz-flex-direction: column;-webkit-flex-direction: column;-o-flex-direction: column;-ms-flex-direction: column;    padding-bottom: 40px;}	
.homePage h1{color:#ffffff;font-size:35px;font-family:"LatoBold";text-transform: uppercase;padding-bottom: 20px;}
.homePage h1 span{display:block}

.usertype{ padding-bottom: 20px;}
.usertype span{font-size:18px;}
#login-password,.forgot-password{display:none;}

@media screen and (max-width : 1366px){
	.homePage h1{padding-bottom: 20px}
	.logoform {margin: 15px 0px 20px;}
	.forgetbox {padding: 30px 10px 0px;}
	.homePage{ min-height: auto;}
	.homePage #page{padding-bottom: 45px;}
}
@media screen and (orientation:portrait){
 .wrapper,#page-footer{ display:none!important}
 .portraitMessage{ display:block; width:100%; text-align:center; position:absolute; left:0; top:50%; margin:-50px 0 0; height:100px; font-size:20px; color:#333333}
}
@media screen and (orientation:landscape){
	.portraitMessage{ display:none;}
}