body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0;
  font-family: arial, sans-serif; background:#fff!important; color:#333333!important; width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color:#333333!important
  font-weight: 300;
}
.clear{clear:both}
p {
  color: #000;
  font-size: 14px;
}
a {
  color: #484848;
 /* -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;*/
  outline: none;
}
html{color:#333333!important; width:100%;}
table { border-collapse:collapse!important}
table th{ background-color:#f5f5f5!important; color:#333333!important}
table td, div, span,strong{ color:#333!important}
#page{ margin:0; min-height:inherit!important}
.container{ min-width:inherit!important; max-width:inherit!important; width:100%!important;}
.col-md-9{ width:100%!important; float:none!important; border:none!important; box-shadow:none!important;}
.tabsOuter{ width:100%!important; box-shadow:none!important; border:1px solid #b9b9b9!important}

#page #region-main{ min-height:inherit!important}
#page #region-main .region-main-inner{ width:100%!important; overflow:visible;}

div{ overflow:visible!important;}
#topcontrol{ display:none}
.single-report-start{ /*margin-top:20px;*/ border:1px solid #b9b9b9!important; height:350px; float:none!important;}
.single-report-start-nograph{ /*margin-top:20px;*/ border:1px solid #d2d2d2!important; float:none!important;}
span.main-heading{
background: url(/theme/image.php/gourmet/theme/1419251215/heading-bg) repeat-x 0 0!important;
border-bottom:1px solid #d2d2d2!important;height: 41px!important;padding: 10px 0 0 1%;font-size: 16px;width: 100%;display:block;}
#page .course-listing,.single-reports-listing{ float:none!important}
#page #region-main table tr.oddR td, #page #region-main table tr.evenR td{ background:#f6f6f6!important}
#page #region-main table tr td div.a-box div.even {background: #d5eff8!important;}
#page #region-main table tr.printRowSec td{ width:200px!important}
#page #region-main table td{word-break:break-all!important;}
.single-report-start .single-report-graph-left{margin-left:-80px!important}
.single-report-start .single-report-graph-right{ float:right; margin-right:10px; width:30%!important;}
.single-report-start .single-report-graph-full{  width:100%!important; padding: 0!important;}
@-moz-document url-prefix() {
    .single-report-start .single-report-graph-full{ margin-left:-100px!important;}
}

.single-report-start .single-report-graph-right .course-status span{ color:#333;}
.generaltable{ border:none!important}
.generaltable td,.generaltable th{ border:1px solid #b9b9b9!important;}
/* After 23rd Feb */
.blueHighlight{ background:#16264a !important; color:#fff !important;}
.orangeHighlight{ background:#FC8428 !important; color:#333 !important;}
.email-word-wrap { word-wrap: break-word !important;max-width:150px!important;}
