/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-collapse .nav {
    width: 100%;
    float: none;
  }
  .nav .open .dropdown-menu,
  .nav .in .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .nav .open .dropdown-menu > li > a,
  .nav .open .dropdown-menu .dropdown-header,
  .nav .in .dropdown-menu > li > a,
  .nav .in .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .nav .open .dropdown-menu > li > a,
  .nav .in .dropdown-menu > li > a {
    line-height: 20px;
  }
  .nav .open .dropdown-menu > li > a:hover,
  .nav .open .dropdown-menu > li > a:focus,
  .nav .in .dropdown-menu > li > a:hover,
  .nav .in .dropdown-menu > li > a:focus {
    background-image: none;
  }
  .pull-right,
  .pull-left {
    float: none !important;
  }
  .header .info {
    margin-top: 15px;
  }
  .header .contact p {
    text-align: center;
    margin-right: 0;
    margin-bottom: 5px;
    float: none;
  }
  .header br {
    display: none;
  }
  .header .social-icons {
    text-align: center;
    margin: 0 auto;
  }
  .header .social-icons li {
    float: none;
    display: inline-block;
  }
  #page-header .header-widget p {
    float: left;
	color:#fff;
  }
  .main-nav .nav-collapse {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
  }
  .nav {
    margin-top: 0;
  }
  #region-main table {
    max-width: 100%;
    /*display: block;
    overflow-x: auto;*/
  }
  .flexslider {
    margin-bottom: 15px;
  }
  .flex-direction-nav a {
    margin-top: -50px;
  }
  .flexslider .slides .flex-caption {
    position: static;
    display: block;
	width:auto;
	min-height:inherit;
  }
  .flexslider .slides .flex-caption br {
    display: none;
  }
  .flexslider .slides .flex-caption .main {
    font-size: 13px;
    display: block;
    margin-bottom: 0;
  }
  .flexslider .slides .flex-caption .secondary {
    display: block;
    font-size: 14px;
	line-height:normal;
  }
  .flexslider .flex-control-nav {
    display: none;
  }
  .loginbox .loginform .form-label {
    float: none;
    width: auto;
    text-align: left;
  }
  .loginbox .loginform .form-input {
    float: none;
    width: auto;
  }
  #page #region-main.login .region-main-inner .loginbox .loginpanel{ width:100%}
  #page-header .info{ width:auto}
  #page-footer .bottom-bar .footer-menu{ width:auto; clear:both; float:none; text-align:center; margin-top:15px;}
  #page-footer .bottom-bar .footer-menu li{ border:none !important; line-height:normal !important; font-size:11px!important; padding:0 3px !important;}
  #page-footer .bottom-bar{ background:url([[pix:theme|footer-logo]]) no-repeat 20px 18%/25%;}
  #page-footer .bottom-bar .copyright{ clear:both; width:68%; float:right; margin-top:-47px; }
  #page-footer .bottom-bar .copyright p{ font-size:11px; text-align:right}
  .flex-direction-nav a{ width:28px; height:28px; background-size:200%}
  #page-site-index .testimonials .carousel .item blockquote p,#page-site-index .promo p{ font-size:inherit; line-height:normal}
  #page-site-index .promo h1.section-heading{ font-size:22px; line-height:1.5}
  #page-site-index .carousel-controls a .fa{ width:22px; height:22px; font-size:20px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-nav .nav {
    float: left;
    margin: 0;
	margin-left:20px;
  }
  .main-nav .nav > li {
    float: left;
  }
  .main-nav .nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:0px;
	padding-right:0px;
  }
  .footer .bottom-bar .social li {
    float: left;
  }
}
@media (max-width: 979px) {
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 0;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .nav-collapse {
    margin: 0 -15px;
  }
  .main-nav .nav {
    float: none;
    max-height: 400px;
    overflow-y: auto;
  }
  .main-nav .nav > li {
    float: none;
  }
  .main-nav .nav .langmenu .dropdown-menu {
    max-height: inherit;
  }
  #page-site-index .testimonials .carousel .item .profile-container{ width:100%}
}
/* Small Medium devices (desktops, 768px and 979px ) */
@media (min-width: 768px) and (max-width: 979px) {
  .collapse {
    display: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: inherit;
    float: right;
    margin-right: 0;
  }
  #page #region-main.login .region-main-inner .loginbox .loginpanel{ width:45%}
  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer .bottom-bar .social li {
    float: right;
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) and (max-width:1024px){
  #page-footer .bottom-bar .footer-menu{width:auto;}
  #page-footer .bottom-bar .footer-menu li{}
  #page-footer .bottom-bar .copyright{ clear:right; width:auto; float:right}
  .flexslider .slides .flex-caption{ top:50%; margin-top:-120px}
}
