/* Settings */
ul.breadcrumb li + li:before {
  content: "[[setting:navbarsep]]";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#homeblocks .block-item {
  min-height: [[setting:homeblockminheight]];
}
[[setting:customcss]]